/build
/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
/src/main/ic_launcher-playstore.png
/src/main/res/values/ic_launcher_background.xml
/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
